<mat-card>
  <mat-card-header>
    <mat-card-title>
      Create new vacancy
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="example-container" [formGroup]="vacancyForm" (submit)="onFormSubmit()">
      <mat-form-field>
        <input matInput placeholder="Company Name" formControlName="company" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Role" formControlName="role" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Level" formControlName="level" />
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Skills" formControlName="skills" multiple>
          <mat-option *ngFor="let skill of skillList" [value]="skill">{{skill.skillName}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Experience Time" type="number" formControlName="xpTime" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Quality" formControlName="quality" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Publish Date" type="date" formControlName="dtVacancy" />
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="URL" formControlName="url"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
      <button mat-button class="btn btn-accent" type="submit" [disabled]="vacancyForm.invalid">Save</button>
    </form>
  </mat-card-content>

</mat-card>